@font-face {
  font-family: 'MuseoCyrillic';
  src: url('../fonts/MuseoCyrillic-100.eot');
  src: url('../fonts/MuseoCyrillic-100.woff2') format('woff2'),
       url('../fonts/MuseoCyrillic-100.woff') format('woff'),
       url('../fonts/MuseoCyrillic-100.ttf') format('truetype'),
       url('../fonts/MuseoCyrillic-100.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoCyrillic';
  src: url('../fonts/MuseoCyrillic-300.eot');
  src: url('../fonts/MuseoCyrillic-300.woff2') format('woff2'),
       url('../fonts/MuseoCyrillic-300.woff') format('woff'),
       url('../fonts/MuseoCyrillic-300.ttf') format('truetype'),
       url('../fonts/MuseoCyrillic-300.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoCyrillic';
  src: url('../fonts/MuseoCyrillic-500.eot');
  src: url('../fonts/MuseoCyrillic-500.woff2') format('woff2'),
       url('../fonts/MuseoCyrillic-500.woff') format('woff'),
       url('../fonts/MuseoCyrillic-500.ttf') format('truetype'),
       url('../fonts/MuseoCyrillic-500.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoCyrillic';
  src: url('../fonts/MuseoCyrillic-700.eot');
  src: url('../fonts/MuseoCyrillic-700.woff2') format('woff2'),
       url('../fonts/MuseoCyrillic-700.woff') format('woff'),
       url('../fonts/MuseoCyrillic-700.ttf') format('truetype'),
       url('../fonts/MuseoCyrillic-700.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoCyrillic';
  src: url('../fonts/MuseoCyrillic-900.eot');
  src: url('../fonts/MuseoCyrillic-900.woff2') format('woff2'),
       url('../fonts/MuseoCyrillic-900.woff') format('woff'),
       url('../fonts/MuseoCyrillic-900.ttf') format('truetype'),
       url('../fonts/MuseoCyrillic-900.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}

