// begin footer
footer.footer
	.container
		.top-line
			+b.logo
				+e.A.img(href="#")
					img(src="../img/logo-foot.png", alt="")
				+e.text
					+e.top Переводчик <br>китайского языка
					+e.bottom_color_1 техническая тематика
			+b.main-contacts
				+e.txt
					+e.top Терехов Николай Олегович
					+e.A.btm(href="mailto:noterekhov@mail.ru") <i class="icon-email"></i>noterekhov@mail.ru
					br
					+e.A.btm(href="tel:+79307832585") <i class="icon-mobile"></i>+7 (930) 783-25-85
				ul.social
					li
						a.whatsapp(href="https://api.whatsapp.com/send?phone=79307832585")
					li
						a.viber(href="viber://add?number=79307832585")
					li
						a.facebook(href="https://www.facebook.com/" target="_blank")
					li
						a.vk(href="https://vk.com/" target="_blank")
			+b.contacts
				+e.A.phone_color_1(href="tel:") <i class="icon-phone"></i>8 (4912) <span>512-585</span>
				br
				a.button.button_theme_1.fancybox-modal(href="#call") Заказать звонок
// end footer