// begin header
header.header
	.container
		.top-line
			+b.logo
				+e.A.img(href="#")
					img(src="../img/logo.png", alt="")
				+e.text
					+e.top Переводчик <br>китайского языка
					+e.bottom техническая тематика
			+b.NAV.main-nav
				+e.A.item(href="#ch1") о переводчике
				+e.A.item(href="#ch2") отзывы
				+e.A.item(href="#ch3") контакты
			+b.contacts
				+e.A.phone(href="tel:") <i class="icon-phone"></i>8 (4912) <span>512-585</span>
				br
				a.button.button_theme_1.fancybox-modal(href="#call") Заказать звонок
// end header
